@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body{
    animation: fadeIn 1s ease-in;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    font-style: normal;
    
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ribbon {
    width: 65px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color:  RGB(128, 0, 128);
    color: RGB(255, 255, 255);
}

.ribbonn{
    width: 65px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color:  RGB(128, 0, 32);
    color: RGB(255, 255, 255);
}

.cabeçalho{
    background-color: rgb(250, 249, 255);
    padding: 20px;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: row wrap;
}

.coluna{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    margin: 1%;
    height:fit-content;
    width: 40%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    transition: height 0.8s;
}

.coluna.hover{
    height: 600px;
    transition: height 0.8s;
}

.imagem-menu {
    background-image: url('quadrado.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    margin: 0;
    background-position: cover;
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    align-items: center; /* Alinha os itens verticalmente */
    flex-direction: column; /* Faz os itens ficarem em uma linha */
}

.menu {
    display: flex;
    gap: 100px;
    top: 1.5%;
    position: absolute;
}

.star-rating {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.fa {
    color: gold;
}

.star-half {
    position: relative;
    display: inline-block;
    width: 50%;
    overflow: hidden;
}

.star-half .fa-star {
    position: absolute;
    left: 0;
}

.star-half .fa-star-o {
    position: absolute;
    left: -100%;
}

.menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    background-color: rgb(255, 255, 255);
    color: #f2f2f2;
    transition: 0.6s;
    color: black;
}

.texto-menu {
    text-align: center;
    color: white;
}

.texto-menu h1 {
    font-weight: bold;
    font-size: 4em;
    padding: 0;
    padding-bottom: 0;
}

.texto-menu h2 {
    font-weight: lighter;
    margin-top: -50px;
    font-size: 2em;
}

.grid-container {
    width: 100%;
    height: 30%;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: row wrap; /* Permite que os itens flex se envolvam para a próxima linha */
}

.grid-container img {
    flex: 1 0 10%; /* flex-grow, flex-shrink, flex-basis */
    margin: 2%;
    width: 12vw;
    object-fit: cover; /* Faz a imagem cobrir todo o contêiner sem distorcer a proporção */
}


@media (max-width: 600px) {
    .grid-container img {
        width: 30%;
    }
}

/* Quando a tela tem 400px ou menos, ajusta a largura das imagens para 100% */
@media (max-width: 400px) {
    .grid-container img {
        width: 50%;
    }
}
